<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./gridStyles.css">
    <link rel="shortcut icon" href="./getBoundingClient.png" type="image/x-icon">
    <title>Document</title>
  </head>
  <body>
    <div class="box" id="gridAnimator">
      <div class="grid-bottom-layer" id="gridBottomLayer"> bottom layer</div>
      <div class="grid-top-layer" id="gridTopLayer">Top Layer</div>
    </div>

    <script src="./gridScript.js"></script>
    <!-- <script src="./script1.js"></script> -->
  </body>
</html>
