.grid-overlay {
    position: fixed; /* stick to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* allow clicks to pass through */
    z-index: -9999; /* on top of most elements */
    background-image: 
        linear-gradient( to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px ),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 20px 20px; /* grid size */
}
